%heading-1 {
    font: bold 36px/47px $font-family;
    margin: 0 0 88px;
    @include tablet {
        font: bold 56px/74px $font-family;
        margin: 100px 0 134px;
    }
}
%heading-2 {
    font: bold 32px/42px $font-family;
    margin: 40px 0 22px;
    @include tablet {
        font: bold 46px/60px $font-family;
        margin: 120px 0 36px;
    }
}
%heading-3 {
    font: bold 21px $font-family;
    margin: 0 0 3px;
    @include tablet {
        font: bold 29px $font-family;
        margin: 0 0 65px;
    }
}

h1,
.heading-1 {
    @extend %heading-1;
    .home & {
        font-size: 70px;
    }
}
h2,
.heading-2 {
    @extend %heading-2;
    .home & {
        font-size: 50px;
        font-weight: bold;
        @include tablet {
            font-size: 60px;
        }
    }
}
h3,
.heading-3 {
    @extend %heading-3;
    .home & {
        @include tablet {
            font-size: 32px;
        }
    }
}
