%heading-1 {
    font: bold 36px/47px $font-family;
    margin: 0 0 88px;
    @include tablet {
        font: bold 56px/74px $font-family;
        margin: 0 0 134px;
    }
}
%heading-2 {
    font: bold 32px/42px $font-family;
    margin: 40px 0 22px;
    @include tablet {
        font: bold 46px/60px $font-family;
        margin: 120px 0 36px;
    }
}
%heading-3 {
    color: $bright_color;
    font: bold 16px/38px $font-family;
    margin: 0 0 5px;
    @include tablet {
        font: bold 20px $font-family;
    }
}
%heading-4 {
    color: $bright_color;
    font: 20px $font-family;
    margin: 35px 0 $layout_indent;
    @include tablet {
        font: bold 14px $font-family;
    }
}
%heading-5 {
    font: bold 15px $font-family;
    margin: 30px 0 $layout_indent;
    @include tablet {
        font: bold 16px $font-family;
    }
}
%heading-6 {
    font: bold 13px $font-family;
    margin: 30px 0 $layout_indent;
    @include tablet {
        font: bold 15px $font-family;
    }
}

h1,
.heading-1 {
    @extend %heading-1;
    .home & {
        font-size: 70px;
    }
}
h2,
.heading-2 {
    @extend %heading-2;
    .home & {
        font-size: 50px;
        font-weight: bold;
        @include tablet {
            font-size: 60px;
        }
    }
}
h3,
.heading-3 {
    @extend %heading-3;
    .home & {
        @include tablet {
            font-size: 32px;
        }
    }
}
h4,
.heading-4 {
    @extend %heading-4;
    @include tablet {
        font-size: 24px;
    }
}
h5,
.heading-5 {
    @extend %heading-5;
}
h6,
.heading-6 {
    @extend %heading-6;
}
