$img-path: "src/img";

$bg_color: #1C1A28;
$bg_color__alt: #231e1e;

$color: #3C3C3C;
$light_color: #fff;
$bright_color: #ffd902;
$gray_color: #9e9e9e;
$extra-bright_color: #f2cd3c;
$link_color: #FF5722;
$link_color__hover: #FF5722;

$font-family: 'IBM Plex Sans', sans-serif;

$font-size: 18px;
$font-size__small: 14px;

$max-width: 1200px;
$layout_indent: 16px;
