.options-wrapper {
    margin: 0 0 70px;
    @include tablet {
        overflow: hidden;
    }
}

.options-holder {
    padding: 0 $layout_indent;
    margin: 0 0 70px;
    @include tablet {
        padding: 0;
        display: flex;
        max-width: 1260px;
        margin: 0 auto 228px;
    }
}

.options {
    box-sizing: border-box;
    padding: 56px 0 62px;
    position: relative;
    @include tablet {
        width: 50%;
        padding: 68px 48px 68px;
    }

    &__light {
        &::before {
            content: '';
            background: #f5f5f5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -$layout_indent;
            right: -$layout_indent;
            @include tablet {
                left: -10000px;
            }
        }
    }
    &__dark {
        &::before {
            content: '';
            background: $color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -$layout_indent;
            right: -$layout_indent;
            @include tablet {
                right: -10000px;
            }
        }
    }

    &_type {
        color: $gray_color;
        font-size: $font-size__small;
        display: block;
        text-transform: uppercase;
        position: relative;
    }
    &_title {
        font-weight: bold;
        font-size: 32px;
        margin: 0 0 22px;
        position: relative;
        @include tablet {
            font-size: 37px;
        }

        .options__dark & {
            color: $light_color;
        }
    }
    &_list {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;

        &::before {
            content: '';
            background: url(#{$img-path}/dots.png) repeat-y;
            width: 5px;
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 18px;
        }
    }
    &_item {
        display: flex;
        align-items: center;
        margin: 0 0 30px;

        .options__dark & {
            color: $light_color;
        }
    }
    &_item-icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: $bright_color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 22px 0 0;
        flex-shrink: 0;
    }
}
