.request {
    background: url(#{$img-path}/sky-bg.jpg) no-repeat;
    background-size: cover;
    padding: 45px 0 52px;
    position: relative;
    @include tablet {
        padding: 0 0 100px;
    }

    &_holder {
        @include layout;
        position: relative;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    &_left,
    &_right {
        @include tablet {
            width: 45%;
        }
    }
    &_right {
        position: relative;
        @include tablet {
            margin: 218px 0 0;
        }
    }
    &_subtitle {
        font-size: 24px;
        line-height: 31px;
        margin: 0 0 32px;
    }
    &_list {
        list-style: none;
        padding: 0;
    }
    &_list-item {
        padding: 3px 0 27px 60px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 9px;
            top: 11px;
            background: url(#{$img-path}/icons/check.svg) no-repeat;
            height: 18px;
            width: 24px;
        }
    }
}
